body {
  display: block;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  margin-left:0px;
  margin-right:0px;
}

#Home {
  position: relative;
  width: 80%;
  height: 500px;
  margin-left:auto;
  margin-right:auto;
  border: 3px solid #73AD21;
}

.header {
  padding-left: inherit;
  padding-right: inherit;
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
  top: 0%;
  width: 100%;
  background-color: #00cc66;
}


.footer {
  padding-left: inherit;
  padding-right: inherit;
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
  bottom: 0%;
  width: 100%;
  background-color: #00cc66;
}
